:host{
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction:column;
  overflow: hidden;

  .navigationBar{
    min-height: 50px;
  }
  .content {
    margin-top: 70px;
    flex:1;
    min-height: 750px;
  }
  .footer{
    padding-top: 20px;
    min-height: 50px;
    margin: auto;
  }
}
